<footer class="footer bg-black text-primary">
    <div class="container">
        <p class="text-center">Ananayan Karen SE-2203</p>
        <p class="text-center">assignment 3</p>
    </div>
</footer>
